---

- name: Change URL destination for 32bit arch.
  ansible.builtin.set_fact:
    url: '386'
  when: ansible_userspace_bits == '32'

- name: Install pre-required packages.
  ansible.builtin.package:
    name: gnupg
    state: present
  tags:
    - install_gnupg

- name: Import GPG key for Redhat family.
  ansible.builtin.rpm_key:
    key: "{{ gpg_key_url }}"
    fingerprint: "{{ gpg_key_fingerprint }}"
    state: present
  tags:
    - import_rpm_key
  when: ansible_os_family == 'RedHat'

- name: Install RPM file for Redhat family.
  ansible.builtin.yum:
    name: "https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/linux_{{ url }}/amazon-ssm-agent.rpm"
    disable_gpg_check: "{{ disable_gpg_check }}"
    state: present
  tags:
    - install_ssm_agent
  register: install_result
  retries: 3
  until: install_result is success
  when:
    - ansible_os_family == "RedHat"

- name: Import GPG key for Debian family.
  ansible.builtin.apt_key:
    url: "{{ gpg_key_url }}"
    id: "{{ gpg_key_fingerprint }}"
    state: present
  tags:
    - import_apt_key
  when: ansible_os_family == 'Debian'

- name: Install deb file for Debian family.
  ansible.builtin.apt:
    deb: "https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/debian_{{ url }}/amazon-ssm-agent.deb"
  notify: restart amazon-ssm-agent
  tags:
    - install_ssm_agent
  register: install_result
  retries: 3
  until: install_result is success
  when: ansible_os_family == "Debian"

- include: register.yml
  tags:
    - register_ssm_agent
  when: aws_ssm_activation_code is defined and aws_ssm_activation_id is defined

- name: Enable and start service.
  ansible.builtin.service:
    name: amazon-ssm-agent
    enabled: true
  tags:
    - enable_ssm_service
  when: ansible_os_family == 'Debian'
